__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
.idea
.vscode
.git
.gitignore
.mypy_cache
.pytest_cache
.coverage
htmlcov
*.db
*.sqlite
.DS_Store
node_modules
npm-debug.log
dist
build
*.egg-info
.eggs
.coverage.*
.cache
*.log
README.md
uv.lock
.history
